tags
tags.lock
tags.tmp
.DS_Store
bak/
Brewfile.lock.json
tmux/plugins
tmp/
/hammerspoon/Spoons/*
!/hammerspoon/Spoons/SpoonInstall.spoon/
!/hammerspoon/Spoons/ime.spoon/
!/hammerspoon/Spoons/window.spoon/
