#!/usr/bin/env bash
set -euo pipefail

{{- if ne .chezmoi.os "darwin" }}
exit 0
{{- end }}

defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock show-recents -bool false
killall Dock || true

defaults write com.apple.finder _FXSortFoldersFirst -bool true
defaults write com.apple.finder FXDefaultSearchScope -string SCcf
defaults write com.apple.finder AppleShowAllFiles -bool true
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false
defaults write NSGlobalDomain AppleShowAllExtensions -bool true
defaults write com.apple.finder FXPreferredViewStyle -string Nlsv
defaults write com.apple.finder RelativeDates -bool false
defaults write NSGlobalDomain AppleICUDateFormatStrings -dict-add 1 "yyyy-MM-dd HH:mm"
defaults write NSGlobalDomain AppleICUDateFormatStrings -dict-add 2 "yyyy-MM-dd HH:mm:ss"
defaults write NSGlobalDomain AppleICUDateFormatStrings -dict-add 3 "yyyy-MM-dd HH:mm:ss"
defaults write NSGlobalDomain AppleICUDateFormatStrings -dict-add 4 "yyyy-MM-dd HH:mm:ss"
killall Finder || true

defaults write com.apple.menuextra.clock DateFormat -string "\"EEE d MMM HH:mm:ss\""
defaults write com.apple.menuextra.clock ShowSeconds -bool true
defaults write com.apple.menuextra.clock FlashDateSeparators -bool true
killall SystemUIServer || true

defaults write NSGlobalDomain com.apple.keyboard.fnState -bool true
defaults write -g KeyRepeat -int 2
defaults write -g InitialKeyRepeat -int 15
defaults write NSGlobalDomain AppleMeasurementUnits -string Centimeters
defaults write NSGlobalDomain AppleICUForce24HourTime -bool true
defaults write -g AppleTemperatureUnit -string Celsius
defaults write -g WebAutomaticTextReplacementEnabled -int 0
defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 70 '<dict><key>enabled</key><false/></dict>'
pwpolicy -clearaccountpolicies || true
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerDrag -bool true
defaults write com.rouge41.middleClick fingers 5
osascript -e 'tell application "System Events" to make login item at end with properties {path:"/Applications/MiddleClick.app", hidden:true}' || true
